<div class="content" role="main">

  <!-- Components -->
  <div>
    <!-- https://storybook.justifi.ai/?path=/docs/components-bankaccountform--docs -->
    <h2>Bank Account Form</h2>
    <justifi-bank-account-form [validationMode]="validationModeValue"
      (bankAccountFormReady)="onBankAccountFormReady($event)" (ready)="onReady($event)"
      (bankAccountFormTokenize)="onTokenize($event)" (bankAccountFormValidate)="onValidate($event)">
    </justifi-bank-account-form>
  </div>

  <div>
    <!-- https://storybook.justifi.ai/?path=/docs/components-cardform--docs -->
    <h2>Card Form</h2>
    <justifi-card-form [validationMode]="validationModeValue" (bankAccountFormReady)="onBankAccountFormReady($event)"
      (ready)="onReady($event)" (bankAccountFormTokenize)="onTokenize($event)"
      (bankAccountFormValidate)="onValidate($event)">
    </justifi-card-form>
  </div>

  <div>
    <!-- https://storybook.justifi.ai/?path=/docs/components-billingform--docs -->
    <h2>Billing Form</h2>
    <justifi-billing-form legend="Example custom legend text">
    </justifi-billing-form>
  </div>

  <div>
    <!-- https://storybook.justifi.ai/?path=/docs/components-paymentform--docs -->
    <h2>Payment Form</h2>
    <justifi-payment-form card="true" bank-account="true"></justifi-payment-form>
  </div>
</div>