<div class="content" role="main">
  <!-- Components -->
  <div class="container">
    <aside class="side-bar">
      <h2 class="link">
        <a [routerLink]="['bank-account-form']">Bank Account Form</a>
      </h2>
      <h2 class="link"><a [routerLink]="['card-form']">Card Form</a></h2>
      <h2 class="link"><a [routerLink]="['billing-form']">Billing Form</a></h2>
      <h2 class="link"><a [routerLink]="['payment-form']">Payment Form</a></h2>
    </aside>
    <div class="components-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
